<section class="sidebar">
    <section class="sidebar-info">
        <a href="/profile">Social Network For Music</a>
    </section>
    <section class="sidebar-info">
        <a href="/search">Search</a>
    </section>
    <section class="sidebar-info">
        <a href="/profile">My profile</a>
    </section>
    <section class="sidebar-info">
        <a href="/artists">My Artists</a>
    </section>
    <section class="sidebar-info">
        <a href="/myplaylists">My Playlists</a>
    </section>
    <section class="sidebar-info">
        <a href="/searchplaylist">Search Public Playlists</a>
    </section>
</section>