<!DOCTYPE html>
<html>
    
    <%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/sidebar.ejs') %>

        <section class="profile-container">
            <h1> User's Profile </h1>
            <form id="changePasswordForm">
                <section class="password-container">
                    <label> Old password: </label> 
                    <input type="password" id="oldPassword" placeholder="Old Password" required>
                    <p id='oldPasswordWrong'></p>
                </section>
                <section class="password-container">
                    <label for="password"> New Password </label>
                    <input type="password" id="password" placeholder="New Password" onkeyup='check();' required>
                </section>
                <section class="password-container">
                    <label for="password"> Confirm New Password: </label>
                    <input type="password" id="confPassword" placeholder="Confirm New Password" onkeyup='check();' required>
                    <p id='psswcheck'></p>
                </section>

                <section class="modifyBtnPassword-container">
                    <button class="modifyPassword-button" type="submit"> Change Password </button>
                </section>
            </form>

        <script src="js/user/passwordEdit.js"></script>
    </body>
</html>